.advantage {
    padding: 90px 0;

    &__title {
        margin-bottom: 60px;
    }

    @media (max-width: 1200px) {
        padding: 40px 0;

        &__title {
            margin-bottom: 40px;
        }
    }

    @media (max-width: 767px) {

        &__title {
            margin-bottom: 36px;
        }
    }

    @media (max-width: 575px) {

        &__title {
            margin-bottom: 24px;
        }
    }
}