.hamburger {
    display: none;

    @media (max-width: 767px) {
        width: 32px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        cursor: pointer;

        & div {
            width: 100%;
            height: 3px;
            background: #fff;
            border-radius: 30px;
        }
    }
}