<header class="header">
    <div class="navbar">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <a href="/" class="navbar-logo">
            <img src="assets/img/logo.png">
        </a>

        <div class="navbar-mb-menu">
            <div class="navbar-mb-menu__close">
                <div></div>
                <div></div>
            </div>
            <div class="navbar-mb-menu__overlay"></div>

            <menu class="navbar-menu">
                <li>
                    <a href="#">
                        Примеры работ
                    </a>
                </li>

                <li>
                    <a href="#">
                        Обо мне
                    </a>
                </li>

                <li>
                    <a href="#">
                        Услуги и цены
                    </a>
                </li>

                <li>
                    <a href="#">
                        Этапы работы
                    </a>
                </li>

                <li>
                    <a href="#">
                        Контакты
                    </a>
                </li>
            </menu>

            <div class="navbar-contact">
                <div class="navbar-contact__tel">
                    <a href="tel:+74996780808">
                        +7 (499) 678-08-08
                    </a>
                </div>

                <div class="navbar-contact__schedule">
                    Ежедневно с 8:30 до 20:00
                </div>

                <div class="navbar-contact__order">
                    <span>
                        Заказать звонок
                    </span>
                </div>
            </div>
        </div>

        <a class="navbar-contact-phone" href="tel:+74996780808">
            <img src="assets/img/phone-icon.svg">
        </a>
    </div>

    <div class="container">
        <div class="header-intro">
            <h1 class="header-intro__title">
                Грищенко<br> Светлана Владимировна
            </h1>

            <div class="header-intro__position">
                Пластический хирург
            </div>

            <div class="header-intro__desc">
                <p>
                    д.м.н., основатель, Генеральный директор, пластический хирург «TOPCLINIC» - Клиника Эстетической Медицины, член ОПРЭХ (Общество пластических реконструктивных и эстетических хирургов России), ISAPS (INTERNATIONAL SOCIETY OF AESTHETIC PLASTIC SURGERY), профильной комиссии по «Пластической хирургии» при МЗ РФ, отличник здравоохранения МЗ РФ.
                </p>

                <p>
                    30 лет практического опыта.
                </p>

                <p>
                    Автор и соавтор 150 публикаций, монографии, 16 уникальных методик по блефаропластике и фейслифтингу.
                </p>

                <p>
                    Мои приоритеты: естественная красота, здоровье, профилактика, безопасность,
                    милосердие, профессионализм.
                </p>
            </div>

            <div class="header-hint">
                <div class="header-hint__img">
                    <img class="large" src="assets/img/header-hint-img.svg">
                    <img class="mobile" src="assets/img/header-hint-img-mb.svg">
                </div>

                <div class="header-hint__desc">
                    Преподаватель и наставник <br>
                    для молодых коллег с  offline и online
                    курсами для врачей и пациентов
                </div>
            </div>
        </div>
    </div>
</header>